<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Kedves <%= @user.first_name %>!</h1>
    <p>Orommel ertesitunk, hogy az alabbi esemeny, amire jelentkeztel, az alabbi idopontban megrendezesre kerul:</p>
    <p><%= @event.date %> <%= @event.title %></p>
    <p>Koszonjuk a jelentkezesedet es szeretettel varunk!</p>
  </body>
</html>